workflows/ig-content-intelligence-v1.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 2" }]
        }
      },
      "id": "igi-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 464]
    },
    {
      "parameters": {
        "jsCode": "const accounts = [\n  { handle: 'byjoeym', platform: 'instagram' },\n  { handle: 'pedrovaleriolopez', platform: 'instagram' },\n  { handle: 'dougdemarco_', platform: 'instagram' },\n  { handle: 'franklim.gui', platform: 'instagram' },\n  { handle: 'thegrowthceo', platform: 'instagram' },\n  { handle: 'chase.h.ai', platform: 'instagram' },\n  { handle: 'thevibefounder', platform: 'instagram' },\n  { handle: 'godofprompt', platform: 'instagram' },\n  { handle: 'philipisberg', platform: 'instagram' },\n  { handle: 'daniel.avell', platform: 'instagram' },\n  { handle: 'stevearnesonofficial', platform: 'instagram' },\n  { handle: 'noevarner.ai', platform: 'instagram' },\n  { handle: 'nateherkai', platform: 'instagram' }\n];\nreturn accounts.map(a => ({ json: a }));"
      },
      "id": "igi-accounts",
      "name": "All IG Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 464]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{APIFY_API_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "directUrls", "value": "={{ ['https://www.instagram.com/' + $json.handle + '/'] }}" },
            { "name": "resultsLimit", "value": 15 },
            { "name": "addParentData", "value": false }
          ]
        },
        "options": { "timeout": 300000 }
      },
      "id": "igi-apify",
      "name": "Apify Instagram Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [688, 464],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all();\nconst scored = [];\n\nfor (const post of posts) {\n  const p = post.json;\n  if (p.error || !p.id) continue;\n\n  const likes = p.likesCount || 0;\n  const comments = p.commentsCount || 0;\n  const views = p.videoViewCount || p.videoPlayCount || null;\n\n  // Engagement score: comments weighted 5x (intent signal stronger than passive like)\n  const rawScore = (comments * 5) + likes;\n  // If followers available, normalize; otherwise use raw\n  const followers = p.ownerFollowersCount || 1;\n  const engagementScore = parseFloat((rawScore / followers * 100).toFixed(4));\n\n  const caption = (p.caption || '').trim();\n  const lines = caption.split('\\n').filter(l => l.trim().length > 0);\n  const firstLine = lines[0] || '';\n  const hookText = firstLine.length >= 15 ? firstLine : (caption.split('.')[0] || firstLine);\n\n  if (!hookText || hookText.length < 5) continue;\n\n  let format = 'feed';\n  if (p.type === 'Video') format = 'reel';\n  else if (p.type === 'Sidecar') format = 'carousel';\n\n  scored.push({\n    json: {\n      post_id: String(p.id || p.shortCode || ''),\n      post_url: p.url || ('https://www.instagram.com/p/' + (p.shortCode || '')),\n      source_account: p.ownerUsername || 'unknown',\n      format: format,\n      caption_as_script: caption.substring(0, 2000),\n      hook_text: hookText.substring(0, 500),\n      likes: likes,\n      comments: comments,\n      views: views,\n      engagement_score: engagementScore,\n      posted_at: p.timestamp || null\n    }\n  });\n}\n\n// Sort by engagement score, return top 3\nscored.sort((a, b) => b.json.engagement_score - a.json.engagement_score);\nreturn scored.slice(0, 3);"
      },
      "id": "igi-score",
      "name": "Score & Filter Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 464]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Analyze this Instagram post for content intelligence. Return ONLY a valid JSON object, no markdown, no explanation.\\n\\nAccount: {{ $json.source_account }}\\nFormat: {{ $json.format }}\\nLikes: {{ $json.likes }} | Comments: {{ $json.comments }}{{ $json.views ? ' | Views: ' + $json.views : '' }}\\nEngagement Score: {{ $json.engagement_score }}\\n\\nCaption (Script):\\n{{ $json.caption_as_script }}\\n\\nReturn exactly this JSON structure:\\n{\\n  \\\"hook_type\\\": \\\"question|attack|contradiction|reveal|mirror|social_proof|manifesto|curiosity_gap\\\",\\n  \\\"hook_text_refined\\\": \\\"clean version of the opening hook max 120 chars\\\",\\n  \\\"content_topic\\\": \\\"main subject in 3-5 words\\\",\\n  \\\"narrative_structure\\\": {\\n    \\\"hook\\\": \\\"first attention grab\\\",\\n    \\\"conflict\\\": \\\"problem or tension presented\\\",\\n    \\\"resolution\\\": \\\"solution or insight offered\\\",\\n    \\\"cta\\\": \\\"call to action or empty string if absent\\\"\\n  },\\n  \\\"why_it_worked\\\": \\\"2-3 sentences on why this generated strong engagement\\\",\\n  \\\"buy_trigger\\\": \\\"urgency|aspiration|fear|social_proof|identity|curiosity\\\",\\n  \\\"applicable_formats\\\": [\\\"carousel\\\",\\\"reel\\\",\\\"caption\\\"],\\n  \\\"relevance_score\\\": 0.0\\n}\\n\\nFor relevance_score: rate 0.0-1.0 how relevant this content is to: AI systems, automation, Claude Code, cloud infrastructure, business scaling, high-ticket offers.\"\n  }]\n}",
        "options": { "timeout": 30000 }
      },
      "id": "igi-claude",
      "name": "Analyze with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1136, 464],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst postData = $('Score & Filter Posts').item.json;\n\nlet analysis = {};\ntry {\n  const text = claudeResponse.content && claudeResponse.content[0] && claudeResponse.content[0].text\n    ? claudeResponse.content[0].text.trim()\n    : '{}';\n  // Strip markdown code fences if present\n  const cleaned = text.replace(/^```json?\\n?|```$/gm, '').trim();\n  analysis = JSON.parse(cleaned);\n} catch(e) {\n  analysis = {\n    hook_type: 'curiosity_gap',\n    hook_text_refined: postData.hook_text ? postData.hook_text.substring(0, 120) : '',\n    content_topic: 'unknown',\n    narrative_structure: { hook: '', conflict: '', resolution: '', cta: '' },\n    why_it_worked: 'Analysis failed: ' + e.message,\n    buy_trigger: 'curiosity',\n    applicable_formats: [],\n    relevance_score: 0\n  };\n}\n\nreturn [{ json: { ...postData, ...analysis } }];"
      },
      "id": "igi-parse",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 464]
    },
    {
      "parameters": {
        "url": "={{ 'https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/tracked_accounts?handle=eq.' + encodeURIComponent($json.source_account) + '&platform=eq.instagram&select=id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" }
          ]
        },
        "options": {}
      },
      "id": "igi-get-account",
      "name": "Get Account ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1584, 464],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/ig_content_intelligence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation,resolution=ignore-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"account_id\": {{ $json.id ? '\"' + $json.id + '\"' : 'null' }},\n  \"post_id\": \"{{ $('Parse Claude Response').item.json.post_id }}\",\n  \"post_url\": \"{{ $('Parse Claude Response').item.json.post_url }}\",\n  \"format\": \"{{ $('Parse Claude Response').item.json.format }}\",\n  \"caption_as_script\": {{ JSON.stringify($('Parse Claude Response').item.json.caption_as_script || '') }},\n  \"hook_text\": {{ JSON.stringify($('Parse Claude Response').item.json.hook_text || '') }},\n  \"hook_type\": \"{{ $('Parse Claude Response').item.json.hook_type || 'curiosity_gap' }}\",\n  \"hook_text_refined\": {{ JSON.stringify($('Parse Claude Response').item.json.hook_text_refined || '') }},\n  \"content_topic\": {{ JSON.stringify($('Parse Claude Response').item.json.content_topic || '') }},\n  \"narrative_structure\": {{ JSON.stringify($('Parse Claude Response').item.json.narrative_structure || {}) }},\n  \"why_it_worked\": {{ JSON.stringify($('Parse Claude Response').item.json.why_it_worked || '') }},\n  \"buy_trigger\": \"{{ $('Parse Claude Response').item.json.buy_trigger || 'curiosity' }}\",\n  \"applicable_formats\": {{ JSON.stringify($('Parse Claude Response').item.json.applicable_formats || []) }},\n  \"relevance_score\": {{ $('Parse Claude Response').item.json.relevance_score || 0 }},\n  \"likes\": {{ $('Parse Claude Response').item.json.likes || 0 }},\n  \"comments\": {{ $('Parse Claude Response').item.json.comments || 0 }},\n  \"views\": {{ $('Parse Claude Response').item.json.views !== null && $('Parse Claude Response').item.json.views !== undefined ? $('Parse Claude Response').item.json.views : 'null' }},\n  \"engagement_score\": {{ $('Parse Claude Response').item.json.engagement_score || 0 }},\n  \"posted_at\": {{ $('Parse Claude Response').item.json.posted_at ? '\"' + $('Parse Claude Response').item.json.posted_at + '\"' : 'null' }},\n  \"analyzed_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "igi-insert",
      "name": "Insert IG Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1808, 464],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "All IG Accounts", "type": "main", "index": 0 }]] },
    "All IG Accounts": { "main": [[{ "node": "Apify Instagram Scraper", "type": "main", "index": 0 }]] },
    "Apify Instagram Scraper": { "main": [[{ "node": "Score & Filter Posts", "type": "main", "index": 0 }]] },
    "Score & Filter Posts": { "main": [[{ "node": "Analyze with Claude", "type": "main", "index": 0 }]] },
    "Analyze with Claude": { "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]] },
    "Parse Claude Response": { "main": [[{ "node": "Get Account ID", "type": "main", "index": 0 }]] },
    "Get Account ID": { "main": [[{ "node": "Insert IG Intelligence", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "instanceId": "1d1daf5c32d4c4eec18531e1c59acbb189361bea16d9590318625cde3c1201ba"
  }
}
