workflows/ig-content-intelligence-v2.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * 2" }]
        }
      },
      "id": "igi2-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 464]
    },
    {
      "parameters": {
        "jsCode": "const accounts = [\n  { handle: 'byjoeym', platform: 'instagram' },\n  { handle: 'pedrovaleriolopez', platform: 'instagram' },\n  { handle: 'dougdemarco_', platform: 'instagram' },\n  { handle: 'franklim.gui', platform: 'instagram' },\n  { handle: 'thegrowthceo', platform: 'instagram' },\n  { handle: 'chase.h.ai', platform: 'instagram' },\n  { handle: 'thevibefounder', platform: 'instagram' },\n  { handle: 'godofprompt', platform: 'instagram' },\n  { handle: 'philipisberg', platform: 'instagram' },\n  { handle: 'daniel.avell', platform: 'instagram' },\n  { handle: 'stevearnesonofficial', platform: 'instagram' },\n  { handle: 'noevarner.ai', platform: 'instagram' },\n  { handle: 'nateherkai', platform: 'instagram' }\n];\nreturn accounts.map(a => ({ json: a }));"
      },
      "id": "igi2-accounts",
      "name": "All IG Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 464]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{APIFY_API_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "directUrls", "value": "={{ ['https://www.instagram.com/' + $json.handle + '/'] }}" },
            { "name": "resultsLimit", "value": 15 },
            { "name": "addParentData", "value": false }
          ]
        },
        "options": { "timeout": 300000 }
      },
      "id": "igi2-apify",
      "name": "Apify Instagram Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [688, 464],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.all();\nconst scored = [];\n\nfor (const post of posts) {\n  const p = post.json;\n  if (p.error || !p.id) continue;\n\n  const likes = p.likesCount || 0;\n  const comments = p.commentsCount || 0;\n  const views = p.videoViewCount || p.videoPlayCount || null;\n  const followers = p.ownerFollowersCount || 1;\n\n  // Engagement score: comments weighted 5x — intent signal stronger than passive like\n  const rawScore = (comments * 5) + likes;\n  const engagementScore = parseFloat((rawScore / followers * 100).toFixed(4));\n\n  const caption = (p.caption || '').trim();\n  const lines = caption.split('\\n').filter(l => l.trim().length > 0);\n  const firstLine = lines[0] || '';\n  const hookText = firstLine.length >= 15 ? firstLine : (caption.split('.')[0] || firstLine);\n\n  if (!hookText || hookText.length < 5) continue;\n\n  // Extract hashtags from caption\n  const hashtags = (caption.match(/#[\\w\\u00C0-\\u017F]+/g) || []).map(h => h.toLowerCase());\n\n  let format = 'feed';\n  if (p.type === 'Video') format = 'reel';\n  else if (p.type === 'Sidecar') format = 'carousel';\n\n  scored.push({\n    json: {\n      post_id: String(p.id || p.shortCode || ''),\n      post_url: p.url || ('https://www.instagram.com/p/' + (p.shortCode || '')),\n      source_account: p.ownerUsername || 'unknown',\n      format: format,\n      caption_as_script: caption.substring(0, 3000),\n      hook_text: hookText.substring(0, 500),\n      hashtags: hashtags,\n      likes: likes,\n      comments: comments,\n      views: views,\n      engagement_score: engagementScore,\n      posted_at: p.timestamp || null\n    }\n  });\n}\n\n// Sort by engagement score, return top 3\nscored.sort((a, b) => b.json.engagement_score - a.json.engagement_score);\nreturn scored.slice(0, 3);"
      },
      "id": "igi2-score",
      "name": "Score & Filter Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 464]
    },
    {
      "parameters": {
        "jsCode": "// FIX: Build Claude payload in a Code node to safely escape all special characters\n// This prevents JSON malformation when captions contain quotes, newlines, or emojis\n\nconst post = $input.first().json;\n\nconst systemContext = `You are FREYJA, content intelligence analyst for Runa Systems — a high-ticket AI consulting brand (R$15k-50k/year) that sells AI agent orchestration, Claude Code, n8n automation, and business transformation to Brazilian entrepreneurs. Your job is to extract deep content intelligence from competitor/reference Instagram posts so FREYJA can create superior content for @arthsystems_.`;\n\nconst userPrompt = `Analyze this Instagram post and return ONLY a valid JSON object. No markdown. No explanation.\n\nACCOUNT: ${post.source_account}\nFORMAT: ${post.format}\nENGAGEMENT: ${post.likes} likes | ${post.comments} comments${post.views ? ' | ' + post.views + ' views' : ''}\nSCORE: ${post.engagement_score}\nHASHTAGS: ${(post.hashtags || []).join(' ')}\n\nCAPTION / SCRIPT:\n${post.caption_as_script}\n\nReturn this exact JSON:\n{\n  \"hook_type\": \"<question|attack|contradiction|reveal|mirror|social_proof|manifesto|curiosity_gap>\",\n  \"hook_text_refined\": \"<clean version of the opening hook, max 120 chars>\",\n  \"content_topic\": \"<main subject in 3-5 words>\",\n  \"keywords\": [\"<keyword1>\", \"<keyword2>\", \"<keyword3>\"],\n  \"key_phrases\": [\"<power phrase 1>\", \"<power phrase 2>\", \"<power phrase 3>\"],\n  \"narrative_structure\": {\n    \"hook\": \"<first attention-grabbing element>\",\n    \"conflict\": \"<problem or tension presented>\",\n    \"resolution\": \"<solution or insight offered>\",\n    \"cta\": \"<call to action text or empty string>\"\n  },\n  \"trigger_emotions\": [\"<medo|aspiracao|urgencia|FOMO|identidade|inveja|curiosidade|orgulho|raiva|alegria>\"],\n  \"solutions_presented\": \"<what specific solution or value the post delivers>\",\n  \"transformation_promised\": \"<before state> → <after state implied by the content>\",\n  \"objections_handled\": [\"<objection 1 that the content pre-handles>\"],\n  \"cta_type\": \"<dm|link|save|comment|share|follow|none>\",\n  \"cta_text\": \"<exact CTA text from the caption or empty string>\",\n  \"buy_trigger\": \"<urgency|aspiration|fear|social_proof|identity|curiosity>\",\n  \"content_pillars\": [\"<education|inspiration|entertainment|promotion|community>\"],\n  \"applicable_formats\": [\"<carousel|reel|caption>\"],\n  \"replicable_structure\": \"<step-by-step formula to replicate this content format for @arthsystems_>\",\n  \"runa_product_fit\": \"<RUNA_SYSTEMS|QUAD|CREATOR|AGENT|SITE|POSICIONAMENTO|MIND|NONE — which product/module this content maps to>\",\n  \"why_it_worked\": \"<2-3 sentences explaining the specific engagement drivers>\",\n  \"relevance_score\": <0.0 to 1.0 — how relevant to: AI agents, Claude Code, automation, cloud infra, high-ticket business scaling for PT-BR audience>\n}`;\n\nreturn [{\n  json: {\n    ...post,\n    claude_payload: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 1500,\n      system: systemContext,\n      messages: [{ role: 'user', content: userPrompt }]\n    }\n  }\n}];"
      },
      "id": "igi2-prepare",
      "name": "Prepare Claude Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1136, 464]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claude_payload }}",
        "options": { "timeout": 30000 }
      },
      "id": "igi2-claude",
      "name": "Analyze with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1360, 464],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// FIX: Process ALL items — previous version used $input.first() losing 2 of 3 posts\n// Use $input.all().map() to classify every item that comes through\n\nreturn $input.all().map(item => {\n  const claudeResponse = item.json;\n  const postData = $('Score & Filter Posts').item.json;\n\n  let analysis = {};\n  try {\n    const text = claudeResponse.content && claudeResponse.content[0] && claudeResponse.content[0].text\n      ? claudeResponse.content[0].text.trim()\n      : '{}';\n    // Strip markdown code fences if Claude wraps in ```json\n    const cleaned = text.replace(/^```(?:json)?\\n?|```$/gm, '').trim();\n    analysis = JSON.parse(cleaned);\n  } catch(e) {\n    analysis = {\n      hook_type: 'curiosity_gap',\n      hook_text_refined: postData.hook_text ? postData.hook_text.substring(0, 120) : '',\n      content_topic: 'parse_error',\n      keywords: [],\n      key_phrases: [],\n      narrative_structure: { hook: '', conflict: '', resolution: '', cta: '' },\n      trigger_emotions: [],\n      solutions_presented: '',\n      transformation_promised: '',\n      objections_handled: [],\n      cta_type: 'none',\n      cta_text: '',\n      buy_trigger: 'curiosity',\n      content_pillars: [],\n      applicable_formats: [],\n      replicable_structure: '',\n      runa_product_fit: 'NONE',\n      why_it_worked: 'Claude parse error: ' + e.message,\n      relevance_score: 0\n    };\n  }\n\n  return { json: { ...postData, ...analysis } };\n});"
      },
      "id": "igi2-parse",
      "name": "Parse & Merge All Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1584, 464]
    },
    {
      "parameters": {
        "url": "={{ 'https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/tracked_accounts?handle=eq.' + encodeURIComponent($json.source_account) + '&platform=eq.instagram&select=id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" }
          ]
        },
        "options": {}
      },
      "id": "igi2-get-account",
      "name": "Get Account ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1808, 464],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Build the Supabase INSERT payload safely using JSON.stringify for all text fields\nconst account = $input.first().json;\nconst post = $('Parse & Merge All Items').item.json;\n\nconst payload = {\n  account_id: (account.id || null),\n  post_id: post.post_id,\n  post_url: post.post_url,\n  source_account: post.source_account,\n  format: post.format,\n  caption_as_script: post.caption_as_script || '',\n  hook_text: post.hook_text || '',\n  hook_type: post.hook_type || 'curiosity_gap',\n  hook_text_refined: post.hook_text_refined || '',\n  content_topic: post.content_topic || '',\n  keywords: post.keywords || [],\n  key_phrases: post.key_phrases || [],\n  narrative_structure: post.narrative_structure || {},\n  trigger_emotions: post.trigger_emotions || [],\n  solutions_presented: post.solutions_presented || '',\n  transformation_promised: post.transformation_promised || '',\n  objections_handled: post.objections_handled || [],\n  cta_type: post.cta_type || 'none',\n  cta_text: post.cta_text || '',\n  why_it_worked: post.why_it_worked || '',\n  buy_trigger: post.buy_trigger || 'curiosity',\n  content_pillars: post.content_pillars || [],\n  applicable_formats: post.applicable_formats || [],\n  replicable_structure: post.replicable_structure || '',\n  hashtags: post.hashtags || [],\n  runa_product_fit: post.runa_product_fit || 'NONE',\n  relevance_score: post.relevance_score || 0,\n  likes: post.likes || 0,\n  comments: post.comments || 0,\n  views: post.views !== undefined && post.views !== null ? post.views : null,\n  engagement_score: post.engagement_score || 0,\n  posted_at: post.posted_at || null,\n  analyzed_at: new Date().toISOString()\n};\n\nreturn [{ json: { supabase_payload: payload } }];"
      },
      "id": "igi2-build-insert",
      "name": "Build Insert Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2032, 464]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/ig_content_intelligence",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVsZHNjZ3JteHRnb3ZhamVrbm11Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM1NTA0MSwiZXhwIjoyMDg5OTMxMDQxfQ.AhNH1tef8IgCLPvuYJVVmOf7oXEnqYQ37bR0rRF5G20" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation,resolution=ignore-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.supabase_payload }}",
        "options": {}
      },
      "id": "igi2-insert",
      "name": "Insert IG Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2256, 464],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "All IG Accounts", "type": "main", "index": 0 }]] },
    "All IG Accounts": { "main": [[{ "node": "Apify Instagram Scraper", "type": "main", "index": 0 }]] },
    "Apify Instagram Scraper": { "main": [[{ "node": "Score & Filter Posts", "type": "main", "index": 0 }]] },
    "Score & Filter Posts": { "main": [[{ "node": "Prepare Claude Payload", "type": "main", "index": 0 }]] },
    "Prepare Claude Payload": { "main": [[{ "node": "Analyze with Claude", "type": "main", "index": 0 }]] },
    "Analyze with Claude": { "main": [[{ "node": "Parse & Merge All Items", "type": "main", "index": 0 }]] },
    "Parse & Merge All Items": { "main": [[{ "node": "Get Account ID", "type": "main", "index": 0 }]] },
    "Get Account ID": { "main": [[{ "node": "Build Insert Payload", "type": "main", "index": 0 }]] },
    "Build Insert Payload": { "main": [[{ "node": "Insert IG Intelligence", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "staticData": null,
  "meta": {
    "instanceId": "1d1daf5c32d4c4eec18531e1c59acbb189361bea16d9590318625cde3c1201ba"
  }
}
