SÍRIOS/⚙️ Workflows N8N/hook-scraper-weekly/workflow.json
{
  "name": "Hook Scraper Weekly",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 460],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 11 * * 1" }]
        }
      }
    },
    {
      "id": "code-1",
      "name": "All Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460],
      "parameters": {
        "jsCode": "// All tracked creators — source: SÍRIOS/📚 Referências/creator-tracking-list.md\nconst accounts = [\n  { handle: 'byjoeym', platform: 'instagram' },\n  { handle: 'pedrovaleriolopez', platform: 'instagram' },\n  { handle: 'dougdemarco_', platform: 'instagram' },\n  { handle: 'franklim.gui', platform: 'instagram' },\n  { handle: 'thegrowthceo', platform: 'instagram' },\n  { handle: 'chase.h.ai', platform: 'instagram' },\n  { handle: 'thevibefounder', platform: 'instagram' },\n  { handle: 'godofprompt', platform: 'instagram' },\n  { handle: 'philipisberg', platform: 'instagram' },\n  { handle: 'daniel.avell', platform: 'instagram' },\n  { handle: 'stevearnesonofficial', platform: 'instagram' },\n  { handle: 'noevarner.ai', platform: 'instagram' },\n  { handle: 'nateherkai', platform: 'instagram' },\n  { handle: 'nateherk', platform: 'youtube' },\n  { handle: 'oalanicolas', platform: 'youtube' },\n  { handle: 'jovensdenegocios', platform: 'youtube' },\n  { handle: 'horadenegocios', platform: 'youtube' },\n  { handle: 'Academia.Lendaria', platform: 'youtube' },\n  { handle: 'Chase-H-AI', platform: 'youtube' },\n  { handle: 'danmartell', platform: 'youtube' },\n  { handle: 'BenAI92', platform: 'youtube' },\n  { handle: 'Itssssss_Jack', platform: 'youtube' }\n];\nreturn accounts.map(a => ({ json: a }));"
      }
    },
    {
      "id": "loop-1",
      "name": "Account Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 460],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "if-1",
      "name": "Is Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [900, 460],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-platform",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "instagram",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-apify",
      "name": "Apify Instagram Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{APIFY_API_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "directUrls", "value": "={{ ['https://www.instagram.com/' + $json.handle + '/'] }}" },
            { "name": "resultsLimit", "value": 10 },
            { "name": "addParentData", "value": false }
          ]
        },
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "code-ig",
      "name": "Extract IG Hooks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "parameters": {
        "jsCode": "const posts = $input.all();\nconst handle = $('Is Instagram?').first().json.handle;\nconst results = [];\n\nfor (const post of posts) {\n  const p = post.json;\n  const caption = (p.caption || '').trim();\n  const lines = caption.split('\\n').filter(l => l.trim().length > 0);\n  const firstLine = lines[0] || '';\n  const hookText = firstLine.length >= 20 ? firstLine : (caption.split('.')[0] || firstLine);\n\n  if (!hookText || hookText.length < 5) continue;\n\n  let format = 'feed';\n  if (p.type === 'Video') format = 'reel';\n  else if (p.type === 'Sidecar') format = 'carousel';\n\n  results.push({\n    json: {\n      post_id: String(p.id || p.shortCode || ''),\n      post_url: p.url || ('https://www.instagram.com/p/' + (p.shortCode || '')),\n      platform: 'instagram',\n      source_account: handle,\n      hook_text: hookText.substring(0, 500),\n      full_caption: caption.substring(0, 1000),\n      format: format,\n      likes: p.likesCount || 0,\n      comments: p.commentsCount || 0,\n      views: null,\n      posted_at: p.timestamp || null\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      }
    },
    {
      "id": "http-yt-channel",
      "name": "YT Get Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1120, 620],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "contentDetails" },
            { "name": "forHandle", "value": "={{ '@' + $json.handle }}" },
            { "name": "key", "value": "AIzaSyDh5lKDIvet3m5OHXLsTVzLaPFzbTV0wMM" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-yt-playlist",
      "name": "YT Get Playlist Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1340, 620],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/playlistItems",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "snippet" },
            { "name": "playlistId", "value": "={{ ($json.items && $json.items[0]) ? $json.items[0].contentDetails.relatedPlaylists.uploads : '' }}" },
            { "name": "maxResults", "value": "10" },
            { "name": "key", "value": "AIzaSyDh5lKDIvet3m5OHXLsTVzLaPFzbTV0wMM" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-yt-stats",
      "name": "YT Get Video Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1560, 620],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "statistics,snippet" },
            { "name": "id", "value": "={{ ($json.items || []).map(i => i.snippet.resourceId.videoId).join(',') }}" },
            { "name": "key", "value": "AIzaSyDh5lKDIvet3m5OHXLsTVzLaPFzbTV0wMM" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-yt",
      "name": "Extract YT Hooks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 620],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst handle = $('Is Instagram?').last().json.handle;\nconst videos = response.items || [];\nconst results = [];\n\nfor (const video of videos) {\n  const stats = video.statistics || {};\n  const snippet = video.snippet || {};\n  const title = (snippet.title || '').trim();\n\n  if (!title) continue;\n\n  results.push({\n    json: {\n      post_id: String(video.id),\n      post_url: 'https://www.youtube.com/watch?v=' + video.id,\n      platform: 'youtube',\n      source_account: handle,\n      hook_text: title.substring(0, 500),\n      full_caption: (snippet.description || '').substring(0, 1000),\n      format: 'video',\n      likes: parseInt(stats.likeCount || 0),\n      comments: parseInt(stats.commentCount || 0),\n      views: parseInt(stats.viewCount || 0),\n      posted_at: snippet.publishedAt || null\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      }
    },
    {
      "id": "loop-2",
      "name": "Post Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [2000, 460],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "if-skip",
      "name": "Skip Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2220, 460],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "code-classify",
      "name": "Classify Hook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 340],
      "parameters": {
        "jsCode": "// Rule-based hook classification — no external API dependency\nconst post = $input.first().json;\nconst text = (post.hook_text || '').toLowerCase();\n\nlet hookType = 'curiosity_gap';\nlet tone = 'emocional';\nlet confidence = 0.55;\n\n// question — ends with ? or starts with interrogative\nif (/\\?/.test(post.hook_text || '')) {\n  hookType = 'question';\n  tone = 'filosofico';\n  confidence = 0.82;\n}\n// attack — confrontational/challenging\nelse if (/\\b(wrong|errado|para de|stop doing|stop using|you're doing it|voce ta errado|erro que|nunca fa|don't do|nao faca|mistake|erro)\\b/.test(text)) {\n  hookType = 'attack';\n  tone = 'provocativo';\n  confidence = 0.76;\n}\n// contradiction — contrarian twist\nelse if (/\\b(but |mas |however|porém|actually|na verdade|contrary|contrário|despite|apesar|isn't|nao e|not what)\\b/.test(text)) {\n  hookType = 'contradiction';\n  tone = 'polarizador';\n  confidence = 0.72;\n}\n// reveal — secret/confession\nelse if (/\\b(secret|segredo|never told|nunca contei|confession|confess|revealing|revelando|truth about|real reason|hidden|escondido)\\b/.test(text)) {\n  hookType = 'reveal';\n  tone = 'emocional';\n  confidence = 0.78;\n}\n// mirror — relatable situation\nelse if (/\\b(you also|voce tambem|you too|ever feel|ever notice|have you|ja sentiu|ja passou|recognize|reconhece|relate|sound familiar)\\b/.test(text)) {\n  hookType = 'mirror';\n  tone = 'emocional';\n  confidence = 0.70;\n}\n// social_proof — results/numbers\nelse if (/\\b(client|cliente|result|resultado|transform|proof|prova|people|pessoas|students|alunos|helped|ajudei|\\$[0-9]|[0-9]+k|[0-9]+m|percent|%)\\b/.test(text)) {\n  hookType = 'social_proof';\n  tone = 'autoritario';\n  confidence = 0.73;\n}\n// manifesto — strong belief/declaration\nelse if (/\\b(never again|nunca mais|i believe|acredito|my truth|minha verdade|promise|prometo|always|sempre|principle|principio|manifesto|vow)\\b/.test(text)) {\n  hookType = 'manifesto';\n  tone = 'filosofico';\n  confidence = 0.65;\n}\n\nreturn [{\n  json: {\n    ...post,\n    hook_type: hookType,\n    tone: tone,\n    classification_confidence: confidence,\n    auto_classified: true\n  }\n}];"
      }
    },
    {
      "id": "http-check-dup",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2660, 340],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/hooks?post_id=eq.' + encodeURIComponent($json.post_id) + '&platform=eq.' + $json.platform + '&select=id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if-2",
      "name": "Is New Hook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2880, 340],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-new",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-get-account",
      "name": "Get Account ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3100, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/tracked_accounts?handle=eq.' + $('Classify Hook').first().json.source_account + '&platform=eq.' + $('Classify Hook').first().json.platform + '&select=id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-insert-hook",
      "name": "Insert Hook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3320, 200],
      "parameters": {
        "method": "POST",
        "url": "https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/hooks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "account_id", "value": "={{ $json[0].id }}" },
            { "name": "post_id", "value": "={{ $('Classify Hook').first().json.post_id }}" },
            { "name": "post_url", "value": "={{ $('Classify Hook').first().json.post_url }}" },
            { "name": "platform", "value": "={{ $('Classify Hook').first().json.platform }}" },
            { "name": "hook_text", "value": "={{ $('Classify Hook').first().json.hook_text }}" },
            { "name": "full_caption", "value": "={{ $('Classify Hook').first().json.full_caption }}" },
            { "name": "format", "value": "={{ $('Classify Hook').first().json.format }}" },
            { "name": "hook_type", "value": "={{ $('Classify Hook').first().json.hook_type }}" },
            { "name": "tone", "value": "={{ $('Classify Hook').first().json.tone }}" },
            { "name": "auto_classified", "value": true },
            { "name": "classification_confidence", "value": "={{ $('Classify Hook').first().json.classification_confidence }}" },
            { "name": "posted_at", "value": "={{ $('Classify Hook').first().json.posted_at }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-insert-perf",
      "name": "Insert Performance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3540, 200],
      "parameters": {
        "method": "POST",
        "url": "https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/hook_performances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "hook_id", "value": "={{ $json[0].id }}" },
            { "name": "likes", "value": "={{ $('Classify Hook').first().json.likes || 0 }}" },
            { "name": "comments", "value": "={{ $('Classify Hook').first().json.comments || 0 }}" },
            { "name": "views", "value": "={{ $('Classify Hook').first().json.views || null }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-log",
      "name": "Log Ingestion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [900, 660],
      "parameters": {
        "method": "POST",
        "url": "https://uldscgrmxtgovajeknmu.supabase.co/rest/v1/ingestion_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "{{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "Bearer {{SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "platform", "value": "all" },
            { "name": "posts_fetched", "value": 220 },
            { "name": "status", "value": "success" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "All Accounts", "type": "main", "index": 0 }]]
    },
    "All Accounts": {
      "main": [[{ "node": "Account Loop", "type": "main", "index": 0 }]]
    },
    "Account Loop": {
      "main": [
        [{ "node": "Is Instagram?", "type": "main", "index": 0 }],
        [{ "node": "Log Ingestion", "type": "main", "index": 0 }]
      ]
    },
    "Is Instagram?": {
      "main": [
        [{ "node": "Apify Instagram Scraper", "type": "main", "index": 0 }],
        [{ "node": "YT Get Channel", "type": "main", "index": 0 }]
      ]
    },
    "Apify Instagram Scraper": {
      "main": [[{ "node": "Extract IG Hooks", "type": "main", "index": 0 }]]
    },
    "Extract IG Hooks": {
      "main": [[{ "node": "Post Loop", "type": "main", "index": 0 }]]
    },
    "YT Get Channel": {
      "main": [[{ "node": "YT Get Playlist Items", "type": "main", "index": 0 }]]
    },
    "YT Get Playlist Items": {
      "main": [[{ "node": "YT Get Video Stats", "type": "main", "index": 0 }]]
    },
    "YT Get Video Stats": {
      "main": [[{ "node": "Extract YT Hooks", "type": "main", "index": 0 }]]
    },
    "Extract YT Hooks": {
      "main": [[{ "node": "Post Loop", "type": "main", "index": 0 }]]
    },
    "Post Loop": {
      "main": [
        [{ "node": "Skip Empty?", "type": "main", "index": 0 }],
        [{ "node": "Account Loop", "type": "main", "index": 0 }]
      ]
    },
    "Skip Empty?": {
      "main": [
        [{ "node": "Post Loop", "type": "main", "index": 0 }],
        [{ "node": "Classify Hook", "type": "main", "index": 0 }]
      ]
    },
    "Classify Hook": {
      "main": [[{ "node": "Check Duplicate", "type": "main", "index": 0 }]]
    },
    "Check Duplicate": {
      "main": [[{ "node": "Is New Hook?", "type": "main", "index": 0 }]]
    },
    "Is New Hook?": {
      "main": [
        [{ "node": "Get Account ID", "type": "main", "index": 0 }],
        [{ "node": "Post Loop", "type": "main", "index": 0 }]
      ]
    },
    "Get Account ID": {
      "main": [[{ "node": "Insert Hook", "type": "main", "index": 0 }]]
    },
    "Insert Hook": {
      "main": [[{ "node": "Insert Performance", "type": "main", "index": 0 }]]
    },
    "Insert Performance": {
      "main": [[{ "node": "Post Loop", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
